@page "{id:int}"
@model EditModel

<h2>Редактировать</h2>

<form method="post" class="form-group">
    <div class="mb-3">
        <label for="Name" class="form-label">Название</label>
        <input type="text" id="Name" name="Name" class="form-control" value="@Model.Degree.Name" required />
    </div>

    <button type="submit" class="btn btn-success">Сохранить изменения</button>
    <a href="/Degrees/Index" class="btn btn-secondary">Отмена</a>
</form>
