@page
@model IndexModel

<h2>Должности</h2>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Название</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pos in Model.Positions)
        {
            <tr>
                <td>@pos.Name</td>
                <td>
                    <!-- Добавим блок для кнопок и используем классы Bootstrap для большего отступа -->
                    <div class="btn-group" role="group">
                        <!-- Ссылка на страницу редактирования с расширенными кнопками -->
                        <a href="/Positions/Edit/@pos.Id" class="btn btn-primary btn-lg mx-1">Изменить</a>
                        <!-- Ссылка на страницу удаления с расширенными кнопками -->
                        <a href="/Positions/Delete/@pos.Id" class="btn btn-danger btn-lg mx-1">Удалить</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Ссылка на страницу добавления новой ученой степени с кнопкой Bootstrap -->
<a href="/Positions/Create" class="btn btn-success btn-lg">Добавить новую должность</a>
